<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to File Share. <%= @shipment.name %> has sent you some files.</p>
    <p>
      <%= @shipment.message if @shipment.message %>
      To download your files, just follow this <%= link_to 'link', @url %>.
      The files will be deleted in 3 days.
    </p>
    <p>Have a great day!</p>
  </body>
</html>