<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for sending files through File Share, <%= @shipment.name %>.</p>
    <p>
      The files have been accessed and will be deleted in <%= @shipment.time_left %> hours.
    </p>
    <p>Have a great day!</p>
  </body>
</html>