<h1>Delivery from <%= @delivery.name %></h1>
<h3><%= @delivery.created_at.strftime("Uploaded on %B %e, %Y") %></h3>
<h3>Files included are:</h3>
<ul>
  <% @packages.each do |package| %>
    <li><%= package.updated_at %></li>
  <% end %>
</ul>